<html>
    <head>
        <title>William's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">William's blog</a> </h1>
        </div>

        <div>
            <p>published: 10.07.2016, 10:00</p>
            <h2><a href="">My first post</a> </h2>
            <p>Super legal fazer um site, estou animado.</p>
        </div>

        <div>
            <p>published: 20.6.2013, 12:54</p>
            <h2><a href="">Os melhores dias da minha vida</a> </h2>
            <p>Em um belo dia fui a um curso de mecânica que fazia e então vi uma garota linda, que era minha visinha
            porem não tinha coragem de falar com ela, mas no fim daquele dia ela falou comigo pedindo numero da van,
            e agradeço a Deus por isso, pois assim eu a conheci e foi um dos melhores dias da minha vida pois desde
            então todos os dias com ela são os melhores.</p>
        </div>

        <div>
            <p>published: 10.2.2011, 10:23</p>
            <h2><a href="">Mais um post para fixar</a> </h2>
            <p>Mais uma publicação para lembrar como criar html.</p>
        </div>

        <a href="/admin">Admin</a>
    </body>
</html>